---
import { ViewTransitions } from "astro:transitions";
import { Upvote } from "../components/react/Upvote";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro 404</title>
		<ViewTransitions />
	</head>
	<body>
		<h1>Astro 404</h1>
		<Upvote 
			client:load 
			transition:persist
			transition:name="upvote"></Upvote>
		<br />
		<a href="/">link to root page!</a>
		<br />
		<a href="/another">link to anotherpage!</a>
		<br />
		<a href="/nonexisting">link to non existing page!</a>
		<br />
		<a href="/404">direct link to 404 page!</a>
	</body>
</html>